@charset "UTF-8";
/* css %
cd /Users/ryotonoguchi/Dropbox/Programing/springbootandreact/src/main/frontend/src
node-sass index.scss index.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/
/* 共通 */
.container {
  padding: 5rem;
}

.row {
  padding: 3rem;
}

/* Monitor.jsx */
#monitor {
  background-image: url("./images/background-image.png");
}

.choice-box {
  height: 20rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem !important;
  position: relative;
  background-color: rgba(4, 83, 255, 0.797);
  border-radius: 1rem;
}

.cell {
  border: none;
  background-color: skyblue;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell.blink-bg-color {
  background-color: yellowgreen !important;
}

.choice {
  margin: 0;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: 0.5rem;
  position: relative;
}

.question-text {
  margin: 0;
  line-height: 3rem;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: auto;
}

.alphabet {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0;
  position: relative;
  font-size: 1.7rem;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.alphabet.red {
  background-color: red;
}

.alphabet.blue {
  background-color: blue;
}

.alphabet.yellow {
  background-color: yellow;
}

.alphabet.green {
  background-color: green;
}

#count-down {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: 0;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: red;
  position: absolute;
  right: 1rem;
}

.btn-area {
  display: flex;
  justify-content: flex-end;
}

.btn-area .manupulate-btn {
  margin-right: 1rem;
}

.red-circle {
  display: none;
  color: red;
  font-size: 18rem;
  position: absolute;
}

/* Admin.jsx */
.sound-btns {
  display: flex;
  justify-content: space-around;
}
