/* css %
cd /Users/ryotonoguchi/Dropbox/Programing/springbootandreact/src/main/frontend/src
node-sass index.scss index.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/

.row {
  margin-right: -15px;
  margin-left: -15px;

}

.choice-box {
  height: 5rem;
  border-radius: 0.5rem;
  background-color: skyblue;
  padding: 15px;
  // margin: 2rem;
}
