/* css %
cd /Users/ryotonoguchi/Dropbox/Programing/springbootandreact/src/main/frontend/src
node-sass index.scss index.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/

.container {
  padding: 5rem;
}

.row {
  padding: 3rem;
}

.choice-box {
  height: 10rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem !important;
}

.cell {
  border: none;
  background-color: skyblue;
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice {
  margin: 0;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  margin-right: 3rem;
  margin-left: 3rem;
  border-radius: .5rem;
}

.question-text {
  margin: 0;
  line-height: 3rem;
}
